.btn {
    font-size: 15px;
    @apply
        flex
        items-center
        justify-center
        py-2
        px-[15px]
        h-[40px]
        border
        border-transparent
        font-bold
        select-none
        bg-twitter-primary
        text-twitter-white
        rounded-full
        transition-colors
        hover:bg-twitter-btn-hover
        focus:outline-none;

    &.big {
        @apply h-[48px] py-3.5 px-[92px];
    }

    &:disabled {
        @apply pointer-events-none opacity-50;
    }
    & span {
        line-height: 20px;
        @apply
            flex
            items-center
            justify-center;
    }
}

.btnIcon {
    @apply
        inline-flex
        items-center
        gap-x-5
        self-start
        min-w-[38px]
        min-h-[38px]
        rounded-full
        transition-colors
        focus:outline-none
        hover:bg-twitter-menu-hover
        p-3
    ;
    &.onlyIcon {
        @apply justify-center self-auto p-0;
        & .text {
            @apply hidden;
        }
    }

    & .icon {
        @apply
            inline-flex
            items-center
            justify-center
            min-w-[26.25px] min-h-[26.25px];
    }

    & .text {
        @apply text-xl font-bold mr-4;
    }
}


.outlinedBtn {
    font-size: 15px;
    @apply font-bold ml-3 text-twitter-primary rounded-full border border-twitter-primary h-8 px-[15px] transition-colors hover:bg-twitter-menu-hover;
}