@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	block-size: 100%;
	inline-size: 100%;
}

body {
	min-block-size: 100%;
	min-inline-size: 100%;
	@apply bg-twitter-dark;
}

svg {
	background: transparent !important;
}
